# To see the date when a version was updated, use git blame:
# https://github.com/ipfs-shipyard/gomobile-ipfs/blame/master/.tool-versions

#-----
# This is simply the most recent version available to date of the lowest 
# major version of Go which is allowed by kubo.
# There is no contraindication for updating it.
#-----
golang 1.18.10

#-----
# This is simply the most recent ruby version available to date.
# There is no contraindication for updating it.
#-----
ruby 3.2.2

#-----
# This is simply the most recent cocoapods version available to date.
# There is no contraindication for updating it.
#-----
cocoapods 1.12.1
